.git
.github
.gitignore

.env
.env.*
!.env.example

.venv
venv
__pycache__
*.pyc

node_modules
vendor

public/hot
public/storage

storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*

*.sql
gct_system_backup.sql

npm-debug.log
yarn-error.log
pnpm-debug.log

.idea
.vscode

tests
README.md

docker-compose.yml
docker-compose.yaml

ca.pem